# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
ALL_MODELS/*.pkl
CSV_FILES/*.csv

# Environment variables
.env

# IDEs
.vscode/
.idea/

# ML artifacts
catboost_info/
